.dialog-content {
    padding: 0px;
}

#footer-wrapper{
    background:  #1976d2;
    text-align: center;
    padding: 10px;
}

#modalHeader {
    background:  #1976d2;
}
#modalfooter {
    background:  #1976d2;
}